{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}


{% block header %}
{% block title %}Log In{% endblock %}
{% endblock %}

{% block content %}
<form action="" method="post">
<div class="row">
  <div class="col-4 ml-3 mt-3">
    {{ render_form(form) }}
  </div>
</div>
<div class="row">
  <div class="col mt-4">
    New user? Click <a class="text-dark" href="{{ url_for('auth.register') }}">here</a> to register.
  </div>
</div>
<div class="row">
  <div class="col mt-2">
    Forgot password? Click <a class="text-dark" href="{{ url_for('auth.reset_password_request') }}">here</a>to reset it.
  </div>
</div>
</form>
{% endblock %}