{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}


{% block title %}Import{% endblock %}
{% block header %}
Import a file
{% endblock %}

{% block content %}
<form action="{{ url_for('graph.upload_file') }}" method="post" enctype="multipart/form-data">
    <div class="row p-4">
        <div class="col-md-6">
            {{ form.csrf_token}}
            {{ form.file(class_="form-control") }}
        </div>
    <div class="row">
        <div class="col-md-6 mt-3">
            {{ form.submit(class_="btn btn-dark") }}
        </div>
    </div>
</form>
{% endblock %}
