{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}


{% block title %}Import{% endblock %}
{% block header %}
Import a >File/<a href="{{ url_for('graph.import_url') }}">URL</a>
{% endblock %}

{% block content %}
<form action="{{ url_for('graph.import_file') }}" method="post" enctype="multipart/form-data">
    <div class="row p-4">
        <div class="col-md-6">
            {{ form.csrf_token}}
            {{ form.file(class_="form-control") }}
           <div id="uploadHelp" class="form-text">Choose an rdf file to import.</div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            {{ form.submit(class_="btn btn-dark") }}
        </div>
    </div>
</form>
{% endblock %}
