{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}


{% block title %}Import{% endblock %}
{% block header %}
Import a <a href="{{ url_for('graph.import_file') }}">File</a>/>URL
{% endblock %}

{% block content %}
<form action="{{ url_for('graph.import_file') }}" method="post" enctype="multipart/form-data">
    <div class="row p-4">
        <div class="col-md-6">
            {{ form.csrf_token}}
            {{ form.url(class_="form-control") }}
           <div id="uploadHelp" class="form-text">Enter a URL</div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            {{ form.submit(class_="btn btn-dark") }}
        </div>
    </div>
</form>
{% endblock %}
