{% extends 'base.html' %}


{% block title %}Add {{ relationship }}{% endblock %}
{% block header %}
Add {{ relationship }} <a href="{{url_for("term.show", id=parent.id)}}">{{ parent.term }}</a>
{% endblock %}

{% block content %}
<form method="POST" action="">

<div class="row">
  <div class="col-6 ml-4 mt-3">
    {{ render_form(form) }}
  </div>
</div>
<div class="row">
  <div class="col-6 ml-4 mt-3">
    (you can use the identifier as the definition to link to the original record)
  </div>
</div>
</form>
{% endblock %}