{% extends 'base.html' %}

{% from 'bootstrap/form.html' import render_form %}

{% block header %}
{% block title %}
Add {{ relationship }} of <a href="{{url_for("term.show", id=parent.id)}}">{{ parent.term }}</a>
{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6 ml-4 mt-3">
    {{ render_form(form) }}
  </div>
</div>
<div class="row">
  <div class="col-6 ml-4 mt-3">
    (you can use the identifier as the definition to link to the original record)
  </div>
</div>
{% endblock %}