<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('term.browse') }}">Browse</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('term.create')}}">Contribute</a></li>
        {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('term.show_my')}}">My Terms</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('term.show_tracked')}}">Tracked Terms</a></li>
        <li class="nav-item"><a class="nav-link"
                href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.messages') }}">Messages</a></li>
        <li class="navbar-text">
        {% set new_messages = current_user.new_messages() %}
        {% if new_messages %}
                <span class="badge bg-secondary">
        {{  new_messages}}
                </span>
        {% endif %}

        </li>
        
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
        <li class="navbar-text"><span class="text-uppercase fw-bold">{{ current_user.username }}<span>{% if current_user.is_administrator() %}
        <span class="text-warning">(ADMIN)<span><span>{% endif %}</li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
    </ul>
    {% if g.search_form %}
    <form class="navbar-form navbar-right" method="GET" action="{{ url_for('main.search') }}">
        <div class="input-group">
            {{ g.search_form.q(size=20, class='form-control') }}
            {{ g.search_form.submit(class='btn btn-outline-dark', value='Search') }}
        </div>
    </form>
    {% endif %}
</div>