<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <title>{% block title %}{% endblock %} - YAMZ</title>
    {{ bootstrap.load_css() }}
  </head>

<body>

  {{ bootstrap.load_js() }}

  {% block navbar %}
  <!--default navbar overridden in templates-->
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <div class="container-fluid ">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">YAMZ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block navbar_items %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main.home') }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('term.browse') }}">Browse</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('term.create')}}">Contribute</a></li>
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('term.show_my')}}">My Terms</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('term.show_tracked')}}">Tracked Terms</a></li>
                        <li class="nav-item"><a class="nav-link"
                href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>

            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout&nbsp;
                <span class="text-uppercase">{{ current_user.username }}</span></a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
          </ul>
          <form class="d-flex ml-4">
            <input class="form-control" type="search" placeholder="Search for a term" aria-label="Search">
            <button class="btn-dark" type="submit">Search</button>
          </form>
        </div>
        {% endblock %}
      </div>
    </nav>
  </div>
  {% endblock %}

  <div class="container">
    <section class="content">
      <header>
        <div class="col h4 ml-5 mt-3">
          {% block header %}{% endblock %}
        </div>
      </header>

      {% for message in get_flashed_messages() %}
      <div class="alert alert-secondary" role="alert">{{ message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endfor %}

      <div class="col ml-5 mt-3">
        {% block content %}

        {% endblock %}
      </div>
    </section>
  </div>

</body>