<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <title>{% block title %}{% endblock %} - YAMZ</title>
    <script src="https://kit.fontawesome.com/e22132fbbe.js" crossorigin="anonymous"></script>
    {{ bootstrap.load_css() }}
  </head>

<body>

  {{ bootstrap.load_js() }}

  {% block navbar %}
  <!--default navbar overridden in templates-->
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <div class="container-fluid ">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">YAMZ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% block navbar_items %}
        {% include '_nav_items.html' %}
        {% endblock %}
      </div>
    </nav>
  </div>
  {% endblock %}

  <div class="container">
    <section class="content">
      <header>
        <div class="col h4 ml-5 mt-3">
          {% block header %}{% endblock %}
        </div>
      </header>

      {% for message in get_flashed_messages() %}
      <div class="alert alert-secondary" role="alert">{{ message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endfor %}

      <div class="col ml-5 mt-3">
        {% block content %}

        {% endblock %}
      </div>
    </section>
  </div>

</body>