{% extends 'base.html' %}

{% block title%}Metadictionary{% endblock %}

{% block navbar_items %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.home') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('term.browse')}}">Browse</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('term.add') }}">Contribute</a></li>
        {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout&nbsp;{{ current_user.username }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-auto mt-5">
            <div class="h1">Metadictionary</div>
        </div>
    </div>
    <form class="row justify-content-center mt-5">
        <div class="col-6">
            <input type="text" class="form-control" id="search" placeholder="search for a term">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-3">Search</button>
        </div>
    </form>
</div>
{% endblock %}