{% extends 'base.html' %}

{% block title%}Metadictionary{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-auto mt-5">
            <div class="h1">Metadictionary</div>
        </div>
    </div>
    <form class="row justify-content-center mt-5">
        <div class="col-6">
            <input type="text" class="form-control" id="search" placeholder="search for a term">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-dark mb-3">Search</button>
        </div>
    </form>
</div>
{% endblock %}