{% extends "base.html" %}

{% block title %}Messages{% endblock %}


{% block header %}

Messages

{% endblock %}

{% block content %}
<div class="row">

  {% for message in messages %}
  <div class="col p-3">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Message from
          <a href="{{ url_for('main.user', username=message.author.username) }}">{{ message.author.username }}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{ message.timestamp.strftime('%A, %B %d, %Y') }} UTC</h6>
        <p class="card-text">{{ message.body}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  {% else %}
  No messages.
  {% endfor %}

</div>
{% endblock %}