{% extends "base.html" %}

{% block title %}{% block header %}Messages{% endblock %}{% endblock %}

{% block content %}

{% for message in messages %}
<div class="row">
  <div class="col p-3">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Message from
          <a href="{{ url_for('main.user', username=message.author.username) }}">{{ message.author.username }}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"> {{ message.timestamp.strftime('%A, %B %d, %Y') }} UTC</h6>
        <p class="card-text">{{ message.body}}</p>
        <a class="card-link" href="{{ url_for('main.delete_message', id=message.id) }}">[delete]</a>
        <a class="card-link" href="{{ url_for('main.send_message', recipient=message.recipient.username) }}">[message
          {{message.recipient.username}}]</a>
      </div>
    </div>
  </div>
  {% else %}
  No messages.
  {% endfor %}

</div>
{% endblock %}