{% extends "base.html" %}

{% block title %}Messages{% endblock %}


{% block header %}

Messages

{% endblock %}

{% block content %}
<div clas="row">
    <div class="col pt-4">
        {% for message in messages %}
        <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Message from {{ message.sender_id}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"> {{ message.time }}</h6>
    <p class="card-text">{{ message.body}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
        
        {% else %}
        No messages.
        {% endfor %}
    </div>
</div>
{% endblock %}