{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}



{% block header %}
{% block title %}
{{ user.username }}
{% endblock %}
{% endblock %}

{% block content %}
{% if user.name or user.location %}
<div class="row">
    <div class="col mb-2 ml-3">
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
        from <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
        {% endif %}
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col ml-3 mt-1">
        Member since {{ user.member_since.strftime('%A, %B %d, %Y') }}
    </div>
</div>
<div class="row">
    <div class="col ml-3 mt-1">
        Last seen {{ user.last_seen.strftime('%c')}} UTC
    </div>
</div>
<div class="row">
    <div class="col ml-3 mt-3">
        <h5>Followed by</h5>
        {% for following_user in following_users %}
        <a href="{{ url_for('main.user', username=following_user) }}">{{ following_user}}</a><br>
        {% endfor %}
    </div>
</div>
{% if user != current_user %}
<div class="row">
    <div class="col ml-3 mt-3">
        <h5>Terms created by this user</h5>
        {% for user_term in user_terms %}
        <a href="{{ url_for('term.show', id=user_term.id) }}">{{ user_term.term}}</a><br>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if user == current_user %}
<div class="row">
    <div class="col ml-3 mt-3">
        <h5>My terms</h5>
        {% for my_term in my_terms %}
        <a href="{{ url_for('term.show', id=my_term.id) }}">{{ my_term.term}}</a><br>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col ml-3 mt-3">
        <h5>Tracked terms</h5>
        {% for tracked_term in tracked_terms %}
        <a href="{{ url_for('term.show', id=tracked_term.id) }}">{{ tracked_term.term}}</a><br>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col ml-3 mt-3">
        <h5>Terms created by followed users</h5>
        {% for followed_term in followed_terms %}
        <a href="{{ url_for('term.show', id=followed_term.id) }}">{{ followed_term.term }}</a><br>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col ml-3 mt-3">
        <h5>Following</h5>
        {% for followed_user in followed_users %}
        <a href="{{ url_for('main.user', username=followed_user) }}">{{ followed_user}}</a><br>
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col mx-auto mt-3">
        <a href="{{ url_for('.edit_profile') }}">Edit my Profile</a>
    </div>
    {% if current_user.is_administrator() %}
    <div class="col mx-auto mt-3">
        <a href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
    </div>
    {% endif %}
</div>

{% elif not current_user.is_following(user) %}
<p>
<form action="{{ url_for('main.follow', username=user.username) }}" method="post">
    {{ form.csrf_token() }}
    <button type="submit" class="btn btn-dark">Follow</button>
</form>
</p>
{% else %}
<p>
<form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
    {{ form.csrf_token() }}
    <button type="submit" class="btn btn-dark">Unfollow</button>
</form>
</p>
{% endif %}


{% endblock %}